:root{
    --I-color: #01f1ed;
    --O-color: #f0f100;
    --L-color: #f0a001;
    --J-color: #0000f0;
    --S-color: #01f000;
    --Z-color: #f00001;
    --T-color: #9f00f0;
}

.I{
    background: var(--I-color) !important;
}

.O{
    background: var(--O-color) !important;
}

.L{
    background: var(--L-color) !important;
}

.J{
    background: var(--J-color) !important;
}

.S{
    background: var(--S-color) !important;
}

.Z{
    background: var(--Z-color) !important;
}

.T{
    background: var(--T-color) !important;
}

.shadow{
    filter: brightness(30%);
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hidden{
    display: none;
}

.pause-menu{
    position: absolute;
    background: rgba(90, 90, 100, 0.8);
    backdrop-filter: blur(5px);
    color: #eef;
    padding: 20px;
    z-index: 1;
    text-align: center;
}

.pause-menu h1{
    margin: 0;
    font-size: 3em;
}

.pause-menu .button{
    width: 100%;
}

.button{
    font-size: 1.2em;
}

.grid{
    width: 45vh;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
}

.cell{
    position: relative;
    background: #333;
    border: 1px solid #111;
    display: block;
}
