:root{
    --I-color: #01f1ed;
    --O-color: #f0f100;
    --L-color: #f0a001;
    --J-color: #0000f0;
    --S-color: #01f000;
    --Z-color: #f00001;
    --T-color: #9f00f0;
}

.I{
    background: var(--I-color);
}

.O{
    background: var(--O-color);
}

.L{
    background: var(--L-color);
}

.J{
    background: var(--J-color);
}

.S{
    background: var(--S-color);
}

.Z{
    background: var(--Z-color);
}

.T{
    background: var(--T-color);
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    width: 45vh;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
}

.cell{
    background: #333;
    border: 1px solid #111;
    display: block;
}
